#biden {
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
}

#vote {
	left: 100px;
	right: 100px;
	height: 70%;
	width: 70%;
}

#prob {
	left: 100px;
	right: 100px;
	height: 70%;
	width: 70%;
}

#choloropeth_map {
	left: 100px;
	right: 100px;
	height: 70%;
	width: 70%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}
